fastapi==0.116.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20
python-dotenv==1.1.1
pydantic-settings==2.10.1
regex==2025.7.34
motor==3.7.1
langgraph==0.6.6 
langgraph-checkpoint-mongodb==0.2.0
websockets==15.0.1
langchain-google-genai==2.1.10
